#about{
padding-bottom: 20px;
}
.propic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.propic > img {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #000000;
}


.bio {
  margin: 0 auto;
  font-size: 16pt;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  align-self: center;
  color: white;
  line-height: 200%;
}