.contact{
  min-height: 500px;
}
.trails-main {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
}


.trails-text > div {
  overflow: hidden;
}
/* 
.contactico{
  margin: 0 auto !important;
  display: flex;
} */

.icons{
margin-top: 100px;
}
