.qoute{
  width: 50%;
  height: auto;
  color: white;
  font-size: 1.8em;
  min-height: 500px;
  display: flex;
  align-items: center;
  
}

.carousel-control{
  background: none !important;
}

.ref{
  display: block;
}

