/* .item {
  width: 50%;
  display: flex;
  /* align-items: center; 
} */

.qoute {
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: white;
  font-size: 1.8em;
  min-height: 200px;
}

.person {
  padding: 10px;
  margin: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  font-size: 1.5em;
  font-style: italic;
}

.carousel-control {
  background: none !important;
}
