html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  user-select: none;
  background: rgba(0,0,0, 0.4);
}


div.mainContent{
  padding-top: 50px;
  width: 100%;
  min-height: 450px;
  height: auto;
  margin-bottom: 0;
  background: linear-gradient(to bottom, #2e2e2c, #492527);
  /* background-image: url('/images/downshift.png'); */
  /* clip-path: polygon(0% 0%, 300% 0%, 0% 100%, 0% 100%); */
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: scroll;
}

div.polygon{
  border: none !important;
  padding: 0 !important;
  margin-top: -5px !important;
  width: 100%;
  min-height: 300px;
  background: #492527;
  clip-path: polygon(0% 0%, 200% 0%, 0% 100%, 0% 100%);
}

.pagetitle{
  margin-bottom: 20px;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 6rem;
  display: flex;
  justify-content: center;
}

